<h1 id="heading">Welcome To online Contact App</h1>
<p id="tagline">We are glad to have you here. This is a simple application to
  manage your contacts.</p>
<p id="start">To get started, to manage contact </p>
<a href="/contact/list">
  <button id="btn">See Contact</button>
</a>