<div
  style="background-color: black; color: #fff; text-align: center; padding: 40px; margin-top: 40px; font-size: 18px; line-height: 1.6;"
>
  <p style="font-weight: bold; font-size: 22px;">&copy; 2025 Your Company. All
    rights reserved.</p>
  <p style="margin: 5px 0;">Empowering Innovation and Connectivity</p>
  <p style="margin: 5px 0;">Contact Us:
    <a
      href="mailto:info@yourcompany.com"
      style="color: #ffcc00; text-decoration: none;"
    >info@yourcompany.com</a>
    | Phone: +1 234 567 890</p>
  <p style="margin: 5px 0;">
    Follow Us:
    <a
      href="https://www.facebook.com"
      style="color: #ffcc00; text-decoration: none; margin: 0 10px;"
    >Facebook</a>
    |
    <a
      href="https://www.twitter.com"
      style="color: #ffcc00; text-decoration: none; margin: 0 10px;"
    >Twitter</a>
    |
    <a
      href="https://www.linkedin.com"
      style="color: #ffcc00; text-decoration: none; margin: 0 10px;"
    >LinkedIn</a>
  </p>
</div>