<nav>
  <div class="logo">contact app</div>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/contact/list">List</a></li>
    <li><a href="/contact/addContact">Add</a></li>
    <li><a href="/auth/signup">SignUp</a></li>
  </ul>
</nav>
<hr />